<h1>Listing products</h1>

<table>
<% @products.each do |product| %>
  <tr>
    <td>
      <%= image_tag(product.image_url, :style => "height:100px") %>
    </td>
    <td>
      <dl>
        <dt><%= link_to product.title,  product_path(product) %></dt>
        <dd><%= truncate(product.description, length: 80) %></dd>
      </dl>
    </td>
    <td>
      <%= link_to 'Show', product %><br/>
      <%= link_to 'Edit', edit_product_path(product) %><br/>
      <%= link_to 'Destroy', product, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New product', new_product_path %>


<%= link_to 'Continue shopping', store_path %>