<!DOCTYPE html>
<html>
<head>
  <title>Escapary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%# if (session[:cart_id] != nil) %>
          <%= link_to 'Your Cart', cart_path(session[:cart_id]) if (session[:cart_id]) %><br>
          <%= number_to_currency(Cart.find(session[:cart_id]).total_price) if (session[:cart_id]) %>
        <%# else %>
          <%= "Your Cart is empty"  if (session[:cart_id]) == nil %>
        <%# end %>
      </div>    
      
      <div class="col-md-8">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
